<div class="footer__aside">
    <p class="footer__text">© Tv-Series-Project</p>
    <a class="footer__text -link" href="https://api.tvmaze.com">TVmaze API</a>
    <p class="footer__text">Onurcan DEDELIOGLU</p>
</div>