<div class="menu__aside">
    <a class="menu__content" href="./index.njk">
        <div class="menu__logo">
            <p class="menu__logo--content">TvSeriesProject</p>
        </div>
        <div class="menu__logo -logotext">
            <p class="menu__logo--text">Duzce University</p>
        </div>
    </a>

    <div class="menu__item">
        <input type="search" autocomplete="off" data-menu-input class="menu__search" placeholder="SEARCH BY NAME">
        <a data-menu-button class="menu__button" href="">SEARCH</a>
    </div>
</div>