@import "../assets/scss/mixin/responsive.scss";

.results{
    width: 100%;
    max-width: 1200px;

    display: grid;
    grid-template-columns: repeat(5, calc(100% / 5.5));
    grid-column-gap: 26px;

    @include mq(desktop, max){
        max-width: 700px;
        grid-template-columns: repeat(3, calc(100% / 3.5));
        grid-column-gap: 50px;

    }
    @include mq(mobile, max){
        max-width: 400px;
        grid-template-columns: repeat(2, calc(100% / 2.5));
        grid-column-gap: 70px;
    }
    &__header{
        color: rgb(255, 255, 255);
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }
    &__content{
        margin: 0px;

        color: rgb(255, 255, 255);
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;

        opacity: 0.6;
    }
    &__aside{
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        text-decoration: none;
        cursor: pointer;
        transition: transform 0.5s;
        transform-style: preserve-3d;
        &:hover{
            transform: scale(1.1);
            @include mq(desktop, max){
                transform: scale(1);
            }
        }
    }
    &__imdb{
        color: rgb(246, 199, 0);
    }
}
.error{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 40px;
}
.-mobileNone{
    @include mq(mobile, max){
        display: none;
    }
}