.season{
    margin-top: 80px;
    
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;

    width: 100%;
    max-width: 1200px;
    
    @include mq(desktop, max){
        flex-direction: column;
        max-width: 700px;
    }

    @include mq(mobile, max){
        max-width: 400px;
        margin-top: 40px;
    }

    &__aside{
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: normal;

        width: 250px;

        border-right: 2px solid rgb(255, 0, 0);
        
        @include mq(desktop, max){
            display: grid;
            grid-template-columns: repeat(3, calc(100% / 3.5));
            grid-column-gap: 50px;
            
            border-right: 0px;
            width: 700px;
        }

        @include mq(mobile, max){
            display: none;
        }
    }
    &__button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: normal;

        width: 100%;
        height: 70px;
        
        background-color: transparent;
        border: 0px;
        cursor: pointer;
        &:hover span{
            color: rgb(183, 20, 30);
        }

        @include mq(desktop, max){
            max-width: 100%;
        }

        @include mq(mobile, max){
            flex-direction: column;
            width: calc(100% / 2.5);
        }
    }
    &__number{
        margin: 0px;
        
        color: rgb(255, 255, 255);
        
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 24px;
        
        pointer-events: none;
    }
    &__date{
        margin: 0px;
        
        color: rgb(255, 255, 255);
        
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        
        pointer-events: none;
    }
    &__summary{
        margin: 0px;
        
        color: rgb(255, 255, 255);
        
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
    &__episodes{
        margin-left: 40px;
        
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: normal;

        width: 100%;
        max-width: 910px;

        @include mq(desktop, max){
            margin-top: 40px;
            margin-left: 0px;
            max-width: 700px;
        }

        @include mq(mobile, max){
            margin-top: 0px;
            flex-direction: column;
            max-width: 400px;
        }
    }
    &__episodedetails{
        display: grid;
        grid-template-columns: repeat(4, calc(100% / 4.5));
        column-gap: 34px;
        
        width: 100%;
        min-height: 310px;
        
        @include mq(desktop, max){
            grid-template-columns: repeat(4, calc(100% / 5.2));
            column-gap: 54px;
            max-width: 700px;
        }

        @include mq(mobile, max){
            grid-template-columns: repeat(2, calc(100% / 2.2));
            column-gap: 32px;
            max-width: 400px;
        }
    }
    &__episodeaside{
        margin-top: 20px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: normal;
        
        height: 135px;
        
        object-fit: cover;
        filter: grayscale(60%);
    }
    &__episodenumber{
        margin: 0px;
        padding: 8px 10px;
        
        color: rgb(255, 255, 255);
        
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }
    &__episodename{
        margin: 0px;
        padding: 8px 10px;
        
        color: rgb(255, 255, 255);
        
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
    &__select{
        display: none;
        width: 100%;

        border: 2px solid gray;
        background-color: transparent;
        -webkit-appearance: menulist-button;
        -webkit-appearance: menulist;

        color: red;
        outline: none;
        margin-top: 40px;
        height: 36px;
        @include mq(mobile, max){
            display: flex;
        }
    }
    &__option{
        background-color: rgb(8, 9, 10);
    }
}
.-selectedSeason{
    background-color: rgb(255, 0, 0);
}
.-selectBoxOpen{
    background-color: transparent;
}