<div class="season">
    <div data-season class="season__aside">
    </div>
    <div data-scroll class="season__episodes">
        <h2 data-season-episode class="season__number"></h2>
        <div data-summary class="season__summary"></div>
        <div data-episode class="season__episodedetails">
        </div>
    </div>
</div>