<div class="details">
    <div class="details__aside">

        <div class="details__item">
            <div class="details__picture">
                <img data-image class="details__image" src="">
            </div>

            <div class="details__subject">
            
                <h2 data-name class="details__header"></h2>
                <div data-subject clasS="details__content"></div>

            </div>
        </div>
        <div class="details__castaside">
            <h2 class="details__castheader">CAST</h2>
            <div data-cast class="details__cast">
            </div>
        </div>
        

    </div>
</div>