@import "../assets/scss/menu.scss";
@import "./summary.scss";
@import "./season.scss";
@import "../assets/scss/footer.scss";
@import "../assets/scss/mixin/responsive.scss";


.detailspage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    max-width: 1200px;

    @include mq(desktop, max){
        max-width: 700px;
    }
    
    @include mq(mobile, max){
        max-width: 360px;
    }
}
