<!Doctype html>
<html>
    
    <head>
        <title>TvSeriesPlatform | Search</title>
        
        <link rel="stylesheet" href="./assets/scss/main.scss">
        <link rel="stylesheet" href="./homepage/search.scss">
        <link rel="stylesheet" href="./homepage/popular.scss">
        <link rel="stylesheet" href="./searchpage/searchpage.scss">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta charset="UTF-8">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
        <script src="./searchpage/results.js" defer></script>
        <script src="./homepage/search.js" defer></script>

    </head>
    
    <body>
        <header class="menu">
            {% include "./shared/menu.njk" %} 
        </header>

        <div class="searchpage">
        
            {% include "./homepage/search.njk" %}
            {% include "./searchpage/results.njk" %} 

        </div>
         
        <footer class="footer">
            {% include "./shared/footer.njk" %} 
        </footer>

    </body>
</html>