<div class="popular">

    <h1 class="popular__header">Popular Tv Series</h1>

    <div class="popular__aside">
        
        {% for i in range(0, 10) %}
            <a data-popular={{i}} class="popular__link" href="">
                <img data-image class = "popular__image" src="" crossOrigin ="Anonymous";>
                <div data-popular-details class="popular__details">
                    <h2 data-title class="popular__title"></h2>
                    <div class="popular__imdb">
                        {% include "../assets/icons/imdb.njk" %}
                        <span data-imdb class="popular__imdbpoint"></span>
                    </div>
                    <p data-genres class="popular__genres"></p>
                </div>
            </a>
        {% endfor %}
        
    </div>

</div>