<div data-search-display class="search">
    <div data-input-aside class="search__aside">
        <input type="search" autocomplete="off" data-input class="search__item" placeholder="SEARCH BY NAME">
        <a data-search-button class="search__button" href="">SEARCH</a>
    </div>
</div>